a.bmc-button(target='_blank' href='https://www.buymeacoffee.com/tannerkrewson' rel='noopener noreferrer')
  span.taco(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg' alt='Buy me a taco')
    | &#x1F32E;
  span(style='margin-left:5px;font-weight:bold;font-size:1.1em;')
    | Buy me a taco
