extends layout

block js
  // Drawphone JS
  script(src='js/client.js')

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  h1#title Drawphone
  p#subtitle Telephone with pictures
  hr
  div#mainmenu
    .alert.alert-success.alert-dismissible(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
      | As of today, Drawphone players have submitted over 
      b 100,000 
      | drawings and guesses! Thanks for playing and sharing Drawphone with your 
      | friends and family!&nbsp;
      span.glyphicon.glyphicon-heart(aria-hidden='true')
    .alert.alert-info.alert-dismissible(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
      b New update! 
      | You may have noticed that drawing uploads have been slow, and sometimes fail. 
      | This has been fixed! Drawing file sizes have been reduced ~80%, and drawings 
      | are now uploaded directly to the Drawphone server.
    .btn-toolbar
      button#joinbtn.btn.btn-default.btn-lg(type='button') Join Game
      button#newbtn.btn.btn-default.btn-lg(type='button') New Game
    br
    br
    .btn-group-vertical(role="group" aria-label="...")
      button#howbtn.btn.btn-default(type='button') How to Play
      button#ssbtn.btn.btn-default(type='button') Screenshots
      button#mgbtn.btn.btn-default(type='button') Games Like Drawphone
      a.btn.btn-default(type='button', role='button', href='https://www.reddit.com/r/boardgames/comments/7lhj20/a_year_ago_i_was_wondering_why_there_were_no/', target='_blank') Original Reddit Post
  div.row
    div.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
      div#joinmenu.hidden
        h4 Join a game
        form
          .form-group
            input#joinincode.form-control(type='text', placeholder='Enter the game code', autocomplete='off')
          .form-group
            input#joininname.form-control(type='text', placeholder='Enter your name', maxlength=16)
          .btn-toolbar
            button#joinmenu-back.btn.btn-default.btn-lg(type='button') Back
            button#joinmenu-go.btn.btn-default.btn-lg(type='submit') Join
      div#newmenu.hidden
        h4 Start a game
        form
          .form-group
            input#newinname.form-control(type='text', placeholder='Enter your name', maxlength=16)
          .btn-toolbar 
            button#newmenu-back.btn.btn-default.btn-lg(type='button') Back
            button#newmenu-go.btn.btn-default.btn-lg(type='submit') Start
  div#lobby.hidden
    div.row
      div.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
        h4 Players:
        ul#lobby-players.list-unstyled.row
      br
      button#lobby-prevres.btn.btn-default(type='button').hidden View Last Round's Results
      br
      div#lobby-settings.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2.hidden
        h4 Game Settings:
        .checkbox
          label
            input#lobby-settings-wordfirst(type='checkbox')
            | Players write first word (not recommended for first time)
        select.form-control#lobby-settings-wordpack
          option(disabled='', selected='') Select a word pack...
          for item in wordpacks
            option #{item}
        br
        select.form-control#lobby-settings-timelimit
          option(disabled='', selected='') Select a drawing time limit...
          option No time limit (recommended)
          option 5 seconds
          option 10 seconds
          option 15 seconds
          option 30 seconds
          option 1 minute
    br
    .btn-toolbar
      button#lobby-leave.btn.btn-default.btn-lg(type='button') Leave Game
      button#lobby-start.btn.btn-default.btn-lg.disabled.hidden(type='button') Start Game
    br
    div.panel.panel-default.ad-panel
      div.panel-body
        p Thanks for playing Drawphone!
        p If you're having fun, try out my other game:
        a.btn.btn-default(type='button', role='button', href='http://spyout.tannerkrewson.com/') Play Spyout

  div#game.hidden
    div#game-drawing.hidden
      h4#game-timer
      canvas#game-drawing-canvas.drawing(width='600', height='600')
    div#game-word.hidden
      img#game-word-drawingtoname.drawing
      br
      br
      input#game-word-in.form-control(type='text', placeholder='Enter your title here')
    br
    .btn-toolbar#game-buttons.hidden
      button#game-drawing-undo.btn.btn-default.btn-lg.disabled(type='button') Undo
      button#game-drawing-redo.btn.btn-default.btn-lg.disabled(type='button') Redo
      button#game-send.btn.btn-default.btn-lg(type='button') Done
  div#result.hidden
    div#result-content
    br
    h4 View more results:
    #result-others.btn-group-vertical(role='group', aria-label='...')
    br
    br
    .btn-toolbar#result-buttons
      button#result-done.btn.btn-default.btn-lg(type='button') Done
  div#waiting.hidden
    div.row
      div.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
        h4 Still waiting for:
        ul#waiting-players.list-unstyled.row
        div#waiting-adminmsg.hidden
          br
          h4 A note to the admin:
          p If someone has left the game and their box is still white, tap 
            | their box to put them up for replacement. Anyone will be able to 
            | rejoin in their place.
        div#waiting-disconnectedmsg.hidden
          br
          h4 Someone left!
          p It looks like someone has disconnected. They are marked by a grey 
            | box above. The game will continue when someone joins this game to 
            | take their place.
  div#replace.hidden
    div#replace-choices
    br
    .btn-toolbar#replace-buttons
      button#replace-leave.btn.btn-default.btn-lg(type='button') Leave Game
