extends layout

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  h1#title
  p#subtitle
  hr
  div#mainmenu
    .btn-toolbar
      button#joinbtn.btn.btn-default.btn-lg(type='button') Join Game
      button#newbtn.btn.btn-default.btn-lg(type='button') New Game
  div.row
    div.col-sm-6.col-sm-offset-3.col-xs-8.col-xs-offset-2
      div#joinmenu.hidden
        form
          .form-group
            input#joinincode.form-control(type='text', placeholder='Enter the game code')
          .form-group
            input#joininname.form-control(type='text', placeholder='Enter your name')
          .btn-toolbar
            button#joinmenu-back.btn.btn-default.btn-lg(type='button') Back
            button#joinmenu-go.btn.btn-default.btn-lg(type='button') Join
      div#newmenu.hidden
        form
          .form-group
            input#newinname.form-control(type='text', placeholder='Enter your name')
          .btn-toolbar
            button#newmenu-back.btn.btn-default.btn-lg(type='button') Back
            button#newmenu-go.btn.btn-default.btn-lg(type='button') Start
