extends layout

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  h1 Game Code: #{code}
  p Waiting for players...
  hr
  div
    |Players:
    ul.list-group
      each val in players
        li.list-group-item= val.name
