extends layout

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  h1 Games Like Drawphone
  p A list of similar games
  hr
  div(style="font-size:1.1em")
    b Web-based Smartphone Games: 
    br
    br
    p
      b
        a(href="https://spyfall.tannerkrewson.com/" target="_blank") Spyfall
      br
      i by Tanner Krewson
    p
      b
        a(href="https://codewords.tv/" target="_blank") Codewords
      br
      | Based on Codenames
      br
      i by Joshua Porter
    p
      b
        a(href="https://kc-fakeartistonline.herokuapp.com/" target="_blank") Fake Artist Online
      br
      | Based on A Fake Artist Goes to New York
      br
      i by Gideon Wong
    p
      b
        a(href="https://jackboxgames.com/games/" target="_blank") The Jackbox Party Packs
      br
      i by Jackbox Games
    p
      b
        a(href="https://netgames.io/" target="_blank") netgames.io
      br
      | ft. Werewolf, Love Letter, Avalon & more
      br
      i by Luke Tsekouras
    p
      b
        a(href="https://www.outofcontext.party/" target="_blank") Out of Context
      br
      i by Isaac Hirschfeld
    p
      b
        a(href="http://www.secrethitler.party/" target="_blank") Secret Hitler
      br
      i by Samuel Mak
    p
      b
        a(href="https://www.qwiqwit.com/" target="_blank") QwiqWit
      br
      | Based on Quiplash
    p
      b
        a(href="https://snakeout.tannerkrewson.com/" target="_blank") Snakeout
      br
      | Based on The Resistance
      br
      i by Tanner Krewson
    p
      b
        a(href="https://order-in-the-court-app.herokuapp.com/" target="_blank") Order in the Court
      br
      i by Adam Callanan
    br
    b Physical Games with Similiar Gameplay: 
    br
    br
    p
      a(href="http://telestrations.com/" target="_blank") Telestrations 
      |from USAopoly
    p
      a(href="https://bigpotato.com/games/scrawl/" target="_blank") Scrawl 
      |by Big Potato Games
    p
      a(href="https://boardgamegeek.com/boardgame/82610/cranium-scribblish" target="_blank") Cranium Scribblish 
      |by Brian Weinstock
    p
      a(href="https://boardgamegeek.com/boardgame/30618/eat-poop-you-cat" target="_blank") Eat Poop You Cat 
      |by Unknown
  br
  a.btn.btn-default.btn-lg(type='button', href="/") Back to Drawphone
