extends layout

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  h1 Games Like Drawphone
  p A list of similar games
  hr
  h4
    b Web-based Smartphone Games: 
    br
    br
    p
      a(href="http://spyfall.crabhat.com/" target="_blank") Spyfall 
      |by Evan Brumley
    p
      a(href="http://spyout.tannerkrewson.com/" target="_blank") Spyout 
      |by Tanner Krewson
    p
      a(href="http://www.secrethitler.party/" target="_blank") Secret Hilter 
      |by Samuel Mak
    p
      a(href="https://jackboxgames.com/games/" target="_blank") The Jackbox Party Packs 
      |by Jackbox Games
    br
    b Physical Games with Similiar Gameplay: 
    br
    br
    p
      a(href="http://telestrations.com/" target="_blank") Telestrations 
      |from USAopoly
    p
      a(href="https://bigpotato.com/games/scrawl/" target="_blank") Scrawl 
      |by Big Potato Games
    p
      a(href="https://boardgamegeek.com/boardgame/82610/cranium-scribblish" target="_blank") Cranium Scribblish 
      |by Brian Weinstock
    p
      a(href="https://boardgamegeek.com/boardgame/30618/eat-poop-you-cat" target="_blank") Eat Poop You Cat 
      |by Unknown
  br
  a.btn.btn-default.btn-lg(type='button', href="/") Back to Drawphone
