body {
  font-family: 'Slabo 27px', serif;
}

a {
  color: #00B7FF;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

input[type="text"] {
    box-sizing: border-box;
    height: 48px;
}

.container {
  position: relative;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.main-content {
  margin: 15% auto 0 auto;
  max-width: 500px;
}

.btn-toolbar{
  text-align: center;
  display: inline-block;
}​

.form-group {
  text-align:center;
}

.drawing {
  outline: 1px solid LightGrey;
  width: 100%;
}

.gamecode {
  font-family: monospace;
  box-shadow: 0 0 10pt 1pt LightGrey;
  padding: 5px;
}

.gamecode-entry {
    font-family: monospace;
}

.user {
  border: 1px solid LightGrey;
  padding: 8px;
}

.user-container {
  padding: 3px;
}

.disconnected {
  background-color: LightGrey;
}

.drawphone-info {
  text-align:left;
  font-size: 125%;
}

.alert {
    text-align: left;
}
