.rocketcrab-alert.rocketcrab-style
    div
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
    div(style='font-size:1.2em;') The Longest Drawphone Ever
    .drawphone-line
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img(src='phone-alt.svg' alt='' width='18')
    div(style='margin-top:.3em;font-size:1.1em;')
        |First attempt will be Thursday, February 25!
    a#discordbtn.btn.btn-default(type='button', role='button', href='https://discord.gg/MvYRVCP', style='margin-top:.4em;font-size:.9em;', target='_blank') Join our Discord
div.card.thanks-panel(style="width:100%;")
     div.card-body
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        div Thanks for playing! 🎉
        include buymebutton.pug