.rocketcrab-alert.rocketcrab-style
     div.card-body
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        div Thanks for playing!
        div ❤️ Tanner
        include buymebutton.pug