.rocketcrab-alert.rocketcrab-style
    div
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
    i(style='font-size:.8em;') Announcing...
    div(style='font-size:1.4em;') The Longest Drawphone Ever
    .drawphone-line
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img.mr-3(src='phone-alt.svg' alt='' width='18')
        img.mr-2(src='pencil-alt.svg' alt='' width='18')
        img(src='phone-alt.svg' alt='' width='18')
    div(style='margin-top:.3em;font-size:.9em;')
        |Want to be a part of the world-record for most players in a Drawphone 
        |game?
    a#discordbtn.btn.btn-default(type='button', role='button', href='https://discord.gg/MvYRVCP', style='margin-top:.4em;font-size:.9em;', target='_blank') Join our Discord
div.card.thanks-panel
    div.card-body 
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        div Apologies for the crashing last weekend! I've 
            |made some updates that should help! 🤞 Oh, and happy Thanksgiving, 
            | Americans!
        p ❤️ Tanner
        div P.S. Drawphone has no max player limit!
div.card.thanks-panel(style="width:100%;")
     div.card-body
        button.close(type='button', data-dismiss='alert', aria-label='Close')
            span(aria-hidden='true') ×
        div Thanks for playing! 🎉
        include buymebutton.pug