extends layout

block js
  // Drawphone JS
  script(src='client.js')

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  #archive
    h2 Your Previous Results
    p View the results saved on this device
    hr
    #archive-content.btn-group-vertical(role="group" aria-label="...")
    br
  #result.hidden
      h2#title Loading archive...
      p#subtitle This may take a second
      hr
      div#result-content
      br
      #result-others.btn-group-vertical(role='group', aria-label='...')
      br
      br
      .btn-toolbar#result-buttons
        button#result-done.btn.btn-default.btn-lg(type='button') Done
  br
  a.btn.btn-default.btn-lg(type='button', href="/") Exit Archive
