extends layout

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  h1 Screenshots
  p A glimpse into Drawphone
  hr
  div(align='center')
    p Tip: You can start a Drawphone game with only yourself to try it out!
    img(src='https://i.imgur.com/RA5HwjB.png', width='222')
    img(src='https://i.imgur.com/JgFvlRb.png', width='222')
    img(src='https://i.imgur.com/nVdQccl.png', width='222')
    img(src='https://i.imgur.com/VlfnAvL.png', width='222')
  br
  a.btn.btn-default.btn-lg(type='button', href="/") Back to Drawphone
